/* Full screen background */
.login-container {
    height: 100vh;
    width: 100%;
    background: url('../../assets/image1.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Black transparent overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.816);
    z-index: 1;
}

/* Card style */
.login-card {
    position: relative;
    z-index: 2;
    width: 850px;
    height: 500px;
    display: flex;
    background: var(--background-1);
    border-radius: 10px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    animation: popUp 0.8s ease;
}

/* Card Image Section */
.card-image-section {
    flex: 0.7;
    overflow: hidden;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Card Form Section */
.card-form-section {
    flex: 1;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--background-1);
}

.card-form-section h2 {
    margin-bottom: 10px;
    color: var(--text);
    font-size: 32px;
    font-weight: bold;
}

.card-form-section p {
    margin-bottom: 30px;
    color: #777;
    font-size: 16px;
}

/* Form fields */
.login-form .input-group {
    position: relative;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 14px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #606060;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    background-color: var(--background);
    color: var(--text);
}

.login-form input:focus {
    border-color: #6ba1ff;
    box-shadow: 0 0 7px rgba(107, 169, 255, 0.5);
}

/* Password toggle */
.password-group {
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    transition: 0.3s;
}

.toggle-password:hover {
    color: #6ba6ff;
}

/* Login button */
.login-btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #7595ff 0%, #7ecbff 100%);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.4s;
}

.login-btn:hover {
    background: linear-gradient(135deg, #7a75ff 0%, #7eb4ff 100%);
}

/* Animations */
@keyframes popUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Responsive */
@media (max-width: 900px) {
    .login-card {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .card-image-section {
        height: 200px;
    }

    .card-form-section {
        padding: 30px 20px;
    }
}
